<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workout.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @workout.date %>
</p>

<% @lifts.each do |lift| %>
  <div>
    <%= lift.reps %>
  </div>

  <div>
    <%= lift.weight %>
  </div>

  <div>
    <%= lift.duration %>
  </div>
<% end %>

<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', workouts_path %>
