<p id="notice"><%= notice %></p>
<div class="row">
  <div class = "col-md-6">

    <h1>Workouts</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @workouts.each do |workout| %>
          <tr>
            <td><%= workout.name %></td>
            <td><%= workout.date %></td>
            <td><%= link_to 'Show', workout %></td>
            <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
            <td><%= link_to 'Destroy', workout, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <%= link_to 'New Workout', new_workout_path %>
  </div>

<!-- Right side of webpage -->
  <div class = "col-md-6">
    <h1>Meals</h1>

    <table>
      <thead>
        <tr>
          <th>Label</th>
          <th>Time</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @meals.each do |meal| %>
          <tr>
            <td><%= meal.label %></td>
            <td><%= meal.time %></td>
            <td><%= link_to 'Show', user_meal_path(@user, meal) %></td>
            <td><%= link_to 'Edit', edit_user_meal_path(@user, meal) %></td>
            <td><%= link_to 'Destroy', user_meal_path(@user, meal), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Meal', new_user_meal_path(@user) %>
  </div>


</div>
